In [125]:
# Importing all the nessary liabraries needed.

import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn import metrics
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()


from sklearn.metrics import roc_auc_score
from sklearn.metrics import roc_curve

In [28]:
# data imported for analysis.
fico = pd.read_csv(r"C:\Users\EGLBRDC\PycharmProjects\pythonProject2\Performance_data_for_validation_Raw.csv")

C:\Users\EGLBRDC\AppData\Local\Temp\1\ipykernel_12372\3113260742.py:2: DtypeWarning: Columns (17) have mixed types. Specify dtype option on import or set low_memory=False.
  fico = pd.read_csv(r"C:\Users\EGLBRDC\PycharmProjects\pythonProject2\Performance_data_for_validation_Raw.csv")

In [29]:
fico

,tranID,dtAppl,YEAR,prodTyp,prtfolId,amtRqstd,amtActlLn,decsn,dtbooked,term,...,delqCycArray15,delqCycArray16,delqCycArray17,delqCycArray18,delqCycArray19,delqCycArray20,delqCycArray21,delqCycArray22,delqCycArray23,delqCycArray24
0,642851,3102021,2021,2300,NaN,25000.00,5485.74,A,5032021.0,48.0,...,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,605164,8312020,2020,2300,NaN,31116.02,28787.29,A,10082020.0,60.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,535094,8172019,2019,2300,NaN,15000.00,11106.28,A,8292019.0,64.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,676312,8202021,2021,2300,NaN,46279.20,40407.87,A,10272021.0,24.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,639780,2242021,2021,2300,NaN,212443.00,121845.00,A,4232021.0,36.0,...,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
202942,651411,4192021,2021,2300,NaN,36023.35,NaN,ND,NaN,-99.0,...,-9.0,-9.0,-9.0,-9.0,-9.0,-9.0,-9.0,-9.0,-9.0,-9.0
202943,655739,5102021,2021,2300,NaN,50000.00,NaN,ND,NaN,-99.0,...,-9.0,-9.0,-9.0,-9.0,-9.0,-9.0,-9.0,-9.0,-9.0,-9.0
202944,686035,10112021,2021,2300,NaN,50000.00,NaN,ND,NaN,-99.0,...,-9.0,-9.0,-9.0,-9.0,-9.0,-9.0,-9.0,-9.0,-9.0,-9.0
202945,664395,6222021,2021,2300,NaN,100000.00,NaN,ND,NaN,-99.0,...,-9.0,-9.0,-9.0,-9.0,-9.0,-9.0,-9.0,-9.0,-9.0,-9.0
202946,677379,8262021,2021,2300,NaN,35200.00,NaN,ND,NaN,-99.0,...,-9.0,-9.0,-9.0,-9.0,-9.0,-9.0,-9.0,-9.0,-9.0,-9.0

In [30]:
fico.columns

Index(['tranID', 'dtAppl', 'YEAR', 'prodTyp', 'prtfolId', 'amtRqstd',
       'amtActlLn', 'decsn', 'dtbooked', 'term', 'status', 'dtChrgoff',
       'amtChrgoff', 'amtRcvry', 'dtBkcy', 'mosOnBook', 'ProductLineDesc',
       'ScoredSICCode', 'SicCodeDesc', 'SicCategoryDesc', 'HMLRating',
       'OriginalDecisionStatus', 'AppKey', 'D&B SBSS', 'BE SBSS',
       'delqCycArray01', 'delqCycArray02', 'delqCycArray03', 'delqCycArray04',
       'delqCycArray05', 'delqCycArray06', 'delqCycArray07', 'delqCycArray08',
       'delqCycArray09', 'delqCycArray10', 'delqCycArray11', 'delqCycArray12',
       'delqCycArray13', 'delqCycArray14', 'delqCycArray15', 'delqCycArray16',
       'delqCycArray17', 'delqCycArray18', 'delqCycArray19', 'delqCycArray20',
       'delqCycArray21', 'delqCycArray22', 'delqCycArray23', 'delqCycArray24'],
      dtype='object')

In [42]:
Psi = fico[['D&B SBSS','YEAR']].copy()

In [43]:
Psi['D&B SBSS']

0         204.0
1         210.0
2         200.0
3         212.0
4         212.0
          ...
202942    196.0
202943    998.0
202944    208.0
202945    203.0
202946    212.0
Name: D&B SBSS, Length: 202947, dtype: float64

In [44]:
Psi.isnull().sum()

D&B SBSS    7741
YEAR           0
dtype: int64

In [45]:
Psi.head()

   D&B SBSS  YEAR
0     204.0  2021
1     210.0  2020
2     200.0  2019
3     212.0  2021
4     212.0  2021

In [51]:
Psi.dropna(subset=['D&B SBSS'], inplace = True)
Psi

AttributeError: 'NoneType' object has no attribute 'dropna'

In [47]:
Psi = Psi.drop(Psi[(Psi['D&B SBSS'] > 85) & (Psi['D&B SBSS'] < 300)].index, inplace=True)

In [48]:
Psi

In [34]:
# import necessary libraries
import pandas as pd

# define your series and bins
bins = 10
series = pd.Series([1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11,\
                    12, 13, 14, 15, 16, 17, 18, 19, 20])

# use pd.cut() method
result = pd.cut(series, bins = bins, labels = False)

# print the result
print(result)

0     0
1     0
2     1
3     1
4     2
5     2
6     3
7     3
8     4
9     4
10    5
11    5
12    6
13    6
14    7
15    7
16    8
17    8
18    9
19    9
dtype: int64

In [106]:
Psi = pd.read_csv(r"C:\Users\EGLBRDC\PycharmProjects\pythonProject2\Year_Score_PSI.csv")

In [107]:
Psi

        YEAR  D&B SBSS
0       2021       204
1       2020       210
2       2019       200
3       2021       212
4       2021       212
...      ...       ...
187000  2021       203
187001  2021       196
187002  2021       208
187003  2021       203
187004  2021       212

[187005 rows x 2 columns]

In [108]:
df_2019 = Psi[Psi["YEAR"] == 2019]

In [109]:
df_2019

        YEAR  D&B SBSS
2       2019       200
5       2019       212
7       2019       200
9       2019       170
12      2019       239
...      ...       ...
186983  2019       218
186984  2019       199
186986  2019       190
186987  2019       218
186988  2019       170

[63410 rows x 2 columns]

In [110]:
df_2019.columns

Index(['YEAR', 'D&B SBSS'], dtype='object')

In [111]:
df_2019 = df_2019.sort_values('D&B SBSS')

In [112]:
df_2019['qtile_1'] = pd.qcut(df_2019['D&B SBSS'], q=10)

In [113]:
df_2019

        YEAR  D&B SBSS           qtile_1
153167  2019       105  (104.999, 165.0]
114838  2019       107  (104.999, 165.0]
172002  2019       107  (104.999, 165.0]
125283  2019       107  (104.999, 165.0]
116285  2019       108  (104.999, 165.0]
...      ...       ...               ...
34630   2019       255    (218.0, 258.0]
123853  2019       255    (218.0, 258.0]
96149   2019       255    (218.0, 258.0]
90534   2019       258    (218.0, 258.0]
177748  2019       258    (218.0, 258.0]

[63410 rows x 3 columns]

In [132]:
df_2019['qtile_1'].nunique()

qtile_1
(104.999, 165.0]    1
(165.0, 174.0]      1
(174.0, 182.0]      1
(182.0, 190.0]      1
(190.0, 196.0]      1
(196.0, 201.0]      1
(201.0, 205.0]      1
(205.0, 212.0]      1
(212.0, 218.0]      1
(218.0, 258.0]      1
Name: qtile_1, dtype: int64

In [135]:
df_2019['qtile_1'].value_counts()

qtile_1
(104.999, 165.0]    0
(165.0, 174.0]      0
(174.0, 182.0]      0
(182.0, 190.0]      0
(190.0, 196.0]      0
(196.0, 201.0]      0
(201.0, 205.0]      0
(205.0, 212.0]      0
(212.0, 218.0]      0
(218.0, 258.0]      0
Name: count, dtype: int64

In [133]:
df_2019.groupby('D&B SBSS')

AttributeError: 'DataFrameGroupBy' object has no attribute 'groupby'

In [120]:
df_2019